<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Abdullah Munib | Links
    </title>
    <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <div class="container">
            <img 
            src="/static/profile.jpg"
            class="profile-img">
            <h1>Abdullah Munib</h1>
            <p>Class 12 Student ● Python & HTML ● Al & Tech Enthusiast ● Aspiring Computer</p>

            <a href="https://linkedin.com/in/abdullahmunib/"
            class="link">LinkedIn</a>
            <a href="https://github.com/abdullahmunib"
            class="link">GitHub</a>
            <a href="https://x.com/mr_munib_24"
            class="link">X</a>
            <a href="https://www.facebook.com/mrmunib24/"
            class="link">Facebook</a>
            <a href="https://www.instagram.com/mr_munib_24/"
            class="link">Instagram</a>
            <a href="https://www.youtube.com/@mr_munib_24"
            class="link">You Tube</a>
            <a href="mailto:munibabdullaham@gmail.com"
            class="link">Email</a>

        </div>
    </body>
</html>
